/* qoolbar styles */

.target-environment {
    background-color: rgb(216,216,216);
}
.target-environment.target-in-progress {
    background-color: rgb(192,192,192);
}


.qoolbar {
    display: block;
    position: fixed;
    right: 0;
    top: 100px;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color: #CCCCCC;
    background-color: #EEEEEE;
}

/*noinspection CssUnknownProperty,CssOptimizeSimilarProperties*/
.qoolbar,
.qoolbar-head {
    -webkit-border-top-left-radius: 8px;
      -khtml-border-radius-topleft: 8px;
        -moz-border-radius-topleft: 8px;
            border-top-left-radius: 8px;
}

/*noinspection CssUnknownProperty,CssOptimizeSimilarProperties*/
.qoolbar,
.qoolbar-body {
    -webkit-border-bottom-left-radius: 8px;
      -khtml-border-radius-bottomleft: 8px;
        -moz-border-radius-bottomleft: 8px;
            border-bottom-left-radius: 8px;
}

.qoolbar.qool-more-expand {
    margin-top: -18px;
}
.qoolbar-head {
    font: small-caption;
    text-align: right;
    height: 18px;
    width: 100%;
    padding: 0 3px 0 0;
    background-color: #CCCCCC;
}
.qoolbar-body {
    padding: 3px 3px 3px 3px;
    overflow-y: auto;
    /* THANKS:  qoolbar-body height 0 otherwise, https://stackoverflow.com/a/19354885/673991
                This also seemed to make the whole qoolbar too wide,
                but that was when the qoolbar-head was float. */
}

.qool-verb {   /* in the qoolbar */
    /*cursor: move;   !* draggable *!*/
}

.qool-icon {   /* decorating a target (a word-associated thingie) */
    cursor: pointer;   /* pointing finger */
}

.qool-verb,
.qool-more-switch,
.qool-more-foot {
    display: block;
    float: right;
    clear: both;
    /*text-align: center;*/

    /*position: relative;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 3;   !* So dragged icon is in front of drop-target -- DOESNT WORK *!*/
}

/*.qool-verb img {*/
    /*z-index: 5;*/
    /*position: relative;*/
/*}*/
/*.qool-verb.ui-draggable-dragging,*/
/*.qool-verb.ui-draggable-dragging img,*/
/*.dragging,*/
/*.dragging img {*/
    /*position: relative;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 3;   !* So dragged icon is in front of drop-target -- DOESNT WORK *!*/
    /*SEE:  http://stackoverflow.com/questions/5217311/setting-z-index-on-draggable-elements*/
/*}*/

/*noinspection CssUnknownProperty*/
.qool-verb.verb-deleted {
    display: none;
}

.qool-more-switch {
    margin-top: 4px;
    margin-bottom: 4px;
    /* NOTE:  Margins for Firefox, which smooshes div.qool-more-switch into div.qool-more-expanse */
    width: 16px;
    height: 16px;
    text-align: center;
    cursor: pointer;   /* pointing finger */
}

.qoolbar:not(.qool-more-expand) .qool-more-expanse {
    display: none;
}

.qoolbar.qool-more-expand .qool-more-contract {
    display: none;
}

#qool-new-verb {
    width: 5em;
    text-align: right;
}

/* Fade Until Hover */
/* THANKS:  http://stackoverflow.com/a/5640854/673991 */
.fade_until_hover:not(.qool-more-expand) {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
        filter:                                    alpha(opacity=50);  /* IE 5-7 */ /*noinspection CssUnknownProperty*/
                                               -khtml-opacity: 0.50;   /* Safari 1.x */
                                                 -moz-opacity: 0.50;   /* Firefox */
                                                      opacity: 0.50;   /* Good browsers */
}
.fade_until_hover:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 8 */
        filter:                                    alpha(opacity=100);  /* IE 5-7 */ /*noinspection CssUnknownProperty*/
                                                -khtml-opacity: 1.00;   /* Safari 1.x */
                                                  -moz-opacity: 1.00;   /* Firefox */
                                                       opacity: 1.00;   /* Good browsers */
}

.qoolbar:not(.qool-more-expand) .hide_until_hover {
    display:none;
}
.qoolbar:hover .hide_until_hover {
    display:inline;
}

.qoolbar                  .hide_until_more {
    display:none;
}
.qoolbar.qool-more-expand .hide_until_more {
    display:inline;
}

.verb-deletion {
    cursor: pointer;  /* pointing finger */
}

.drop-hover {
    background-color: white;
}
.icon-bling {
    display: inline-block;
    margin: -5px 1px -5px 1px;
    position: relative;
    top: -2px;
    left: 0;
}
.icon-sup,
.icon-sub {
    display: block;
    font-size: 0.6em;
    text-align: left;
    margin: 0;
}
.icon-sup {
    margin-bottom: -4px;
}
.icon-sub {
}

.word {
    position: relative;   /* children  */
    /*z-index: -1;   !* Desperate way to make draggable icon visible over top of word background white *!*/
    /* But this -1 breaks tooltips and icon click-to-edit! */
}
.qool-icon-entry-container {
    position: relative;
    /* THANKS:  For zero-size positioning, http://stackoverflow.com/a/21187684/673991 */
}

.qool-icon-entry {
    position: absolute;
    width: 2em;
    box-shadow: 3px -3px 3px #999;
    border: 1px solid #999;
    /*z-index: 3;*/
}

/*noinspection CssUnknownProperty*/
.qoolbar input {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
    border-width: 1px;
}

/*noinspection CssUnknownProperty*/
.letter-icon {
    font: 14px serif;
    line-height: 14px;
         height: 14px;
          width: 14px;
    border: 1px solid #888888;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;

    color: black;
    background-color: white;
    text-align: center;
    vertical-align: 18%;
    display: inline-block;
}

img.answer-author {
    width: 1em;
    height: 1em;
}
